<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота 3. Варіант 3
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Горобчук Марія КН-31
    </ion-title>
  </ion-toolbar>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card-content>
    <ion-text style="font-size: medium;">У JSON файлі який зберігається на сервері є інформація про каталог статей, що містить:
      <br>
      • Автор.<br> 
      • Назва.<br> 
      • Назва газети або журналу.<br> 
      • Номер газети або журналу.<br> 
      • Номер сторінки.<br> 
      Запит. Ввести прізвище автора у окремій формі та позначити кольором всі
      статті даного автора. </ion-text>
  </ion-card-content>

  <ion-item>
    <ion-button expand="block" (click)="download()" >
      <b>Download file</b>
    </ion-button>
  </ion-item>



  <ion-item>
    <ion-label>
      <ion-input placeholder="Enter author's name" [(ngModel)]="searchedAuthor"></ion-input>
    </ion-label>

  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>Author</ion-col>
      <ion-col>Title</ion-col>
      <ion-col>Newspaper</ion-col>
      <ion-col>Issue Number</ion-col>
      <ion-col>Page Number</ion-col>
    </ion-row>
    <ion-row *ngFor="let article of data" [ngStyle]="{'color': isSearchedAuthor(article.author) ? 'blue' : 'black'}">
      <ion-col>{{article.author}}</ion-col>
      <ion-col>{{article.title}}</ion-col>
      <ion-col>{{article.newspaper}}</ion-col>
      <ion-col>{{article.issueNumber}}</ion-col>
      <ion-col>{{article.pageNumber}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
