<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота 5. Варіант 3
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Горобчук Марія КН-31
    </ion-title>
  </ion-toolbar>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card-content>
    <ion-text style="font-size: medium;">Необхідно додати у розроблений в попередній лабораторній роботі
      застосунок Unit тести для тестування завдань виконаних у попередній
      лабораторній роботі. Необхідно протестувати:    <br>
      
      • створення усіх класів    <br>
      • усі методи класів
   </ion-text>
  </ion-card-content>
  
</ion-content>
